body {
  background-color: plum;
}

.header {
  text-align: center;

}

.textbox {
  resize: none;
  text-align: center;
}

.boxbuttons{
  background-color: green;
  color: white;
  border: 0px;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  display: table;
  font-size: 18px;
  margin: 4px 100px;
}

#clear {

}

#submit {

}
.results{
  resize:none;
  text-align:center;
  visibility:hidden;
}
